@font-face {
  font-family: 'Mono Social Icons Font';
  src: url("icons/MonoSocialIconsFont-1.10.eot");
  src: url("icons/MonoSocialIconsFont-1.10.eot?#iefix") format("embedded-opentype"), url("icons/MonoSocialIconsFont-1.10.woff") format("woff"), url("icons/MonoSocialIconsFont-1.10.ttf") format("truetype"), url("icons/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
  src: url("icons/MonoSocialIconsFont-1.10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%; }

.symbol.yt:hover {
  color: #c4302b; }

.symbol.fb:hover {
  color: #3b5998; }

.symbol.sc:hover {
  color: #ff3300; }

.symbol.li:hover {
  color: #0077b5; }

.symbol.tw:hover {
  color: #55acee; }

.symbol.ig:hover {
  color: #3f729b; }

body {
  background: #fff;
  margin: 0;
  padding: 0; }
  body.dark {
    background: #181818; }
    body.dark .navigation .navi-menu .menu-item {
      color: #848383; }

.social-icons {
  position: absolute;
  z-index: 2;
  font-size: 42px;
  transition: opacity 300ms;
  padding: 0;
  bottom: -55px;
  left: 0;
  width: 100%;
  text-align: center; }
  @media (min-width: 600px) {
    .social-icons {
      padding: 5px 20px 5px 15px;
      right: 5px;
      bottom: 5px;
      left: auto;
      text-align: right; } }
  @media (max-height: 700px) and (max-width: 600px) {
    .social-icons {
      bottom: -140px; } }
  .social-icons a {
    color: inherit;
    text-decoration: none;
    position: relative;
    right: 10px; }
  .social-icons.hide {
    opacity: 0; }

.more-on-frank-btn {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 2;
  padding: 5px 20px 5px 15px;
  font-family: Oswald, "Open Sans Condensed", "Oswald";
  font-weight: 400;
  text-transform: uppercase;
  transition: opacity 300ms;
  color: #434;
  font-size: 26px;
  cursor: pointer; }
  @media (max-height: 450px) {
    .more-on-frank-btn {
      opacity: 0; } }
  .more-on-frank-btn.hide {
    opacity: 0; }
  .more-on-frank-btn .arrow-down .arrow {
    display: inline-block;
    padding: 0 4px 0 0;
    -webkit-animation: bounceDown 690ms infinite alternate;
    animation: bounceDown 690ms infinite alternate;
    font-family: "Oswald"; }

@-webkit-keyframes bounceDown {
  0% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); } }

@keyframes bounceDown {
  0% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); } }

.headline.start {
  line-height: 72px;
  font-size: 72px;
  padding: 0;
  color: #999;
  margin: 20px auto 0 auto; }
  @media (min-width: 600px) {
    .headline.start {
      font-size: 100px;
      line-height: 100px; } }
  .headline.start .color-alt {
    color: #9f000f; }

.mastering-block {
  text-align: center;
  font-size: 22px;
  opacity: 0;
  -webkit-transform: scale(2);
  transform: scale(2);
  transition: opacity 800ms, -webkit-transform 600ms cubic-bezier(0.175, 0.885, 0.22, 1.175);
  transition: opacity 800ms, transform 600ms cubic-bezier(0.175, 0.885, 0.22, 1.175);
  transition: opacity 800ms, transform 600ms cubic-bezier(0.175, 0.885, 0.22, 1.175), -webkit-transform 600ms cubic-bezier(0.175, 0.885, 0.22, 1.175);
  font-family: "Cabin", "Yanone Kaffeesatz", serif; }
  .mastering-block.activate-form .start-signup {
    height: auto;
    transition: height 0s, opacity 400ms, -webkit-transform 400ms;
    transition: height 0s, transform 400ms, opacity 400ms;
    transition: height 0s, transform 400ms, opacity 400ms, -webkit-transform 400ms;
    opacity: 1; }
  .mastering-block.aa {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  .mastering-block h1, .mastering-block h2, .mastering-block h3, .mastering-block h4, .mastering-block h5, .mastering-block h6 {
    font-family: "Oswald", serif; }
  .mastering-block .logo {
    margin: 20px auto;
    max-width: 200px; }
  .mastering-block .headline.about {
    color: #666;
    padding: 0px 0 50px 0; }
  .mastering-block .pay-action {
    text-align: center; }
    .mastering-block .pay-action table {
      margin: auto; }
  .mastering-block .pay-divide {
    margin: 20px auto;
    width: 50%;
    background: #9f000f;
    outline: 0;
    border: 0;
    height: 2px; }
  .mastering-block div.errors {
    margin: 50px auto;
    padding: 20px;
    width: 90%;
    background: #ff394c;
    transition: opacity 400ms, height 0ms, -webkit-transform 400ms;
    transition: transform 400ms, opacity 400ms, height 0ms;
    transition: transform 400ms, opacity 400ms, height 0ms, -webkit-transform 400ms;
    opacity: 1; }
    .mastering-block div.errors.hide {
      transition: opacity 400ms, height 0s 400ms, -webkit-transform 400ms;
      transition: transform 400ms, opacity 400ms, height 0s 400ms;
      transition: transform 400ms, opacity 400ms, height 0s 400ms, -webkit-transform 400ms;
      opacity: 0;
      height: 0;
      overflow: hidden;
      padding: 0;
      margin: 0; }
    .mastering-block div.errors h1, .mastering-block div.errors h2, .mastering-block div.errors h3, .mastering-block div.errors h4, .mastering-block div.errors h5, .mastering-block div.errors h6 {
      margin: 0;
      padding: 10px 0; }
  .mastering-block .what-mastered-block {
    transition: opacity 400ms, height 0ms, -webkit-transform 400ms;
    transition: transform 400ms, opacity 400ms, height 0ms;
    transition: transform 400ms, opacity 400ms, height 0ms, -webkit-transform 400ms;
    opacity: 1; }
    .mastering-block .what-mastered-block.hide {
      transition: opacity 400ms, height 0s 400ms, -webkit-transform 400ms;
      transition: transform 400ms, opacity 400ms, height 0s 400ms;
      transition: transform 400ms, opacity 400ms, height 0s 400ms, -webkit-transform 400ms;
      opacity: 0;
      height: 0;
      overflow: hidden; }
  .mastering-block .services-mastering {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .mastering-block .services-mastering li {
      box-sizing: border-box;
      margin: 0;
      padding: 10px;
      display: inline-block; }
      .mastering-block .services-mastering li .service {
        position: relative;
        display: block;
        text-decoration: none;
        color: inherit;
        padding: 30px 60px;
        position: relative;
        background: #9f000f;
        border-radius: 3px;
        color: #fff;
        font-family: "Oswald", serif;
        transition: -webkit-transform 200ms;
        transition: transform 200ms;
        transition: transform 200ms, -webkit-transform 200ms;
        border: 5px solid transparent; }
        .mastering-block .services-mastering li .service:hover {
          background: #6c000a;
          -webkit-transform: scale(1.15);
          transform: scale(1.15);
          border-color: #222; }
          .mastering-block .services-mastering li .service:hover h3 {
            -webkit-transform: translateY(-14px);
            transform: translateY(-14px); }
          .mastering-block .services-mastering li .service:hover:after {
            content: 'start';
            display: block;
            position: absolute;
            color: #ff394c;
            bottom: 40px;
            left: 0;
            font-size: 16px;
            text-transform: uppercase;
            width: 100%;
            text-align: center;
            -webkit-animation: fadeIn 200ms 200ms 1 forwards;
            animation: fadeIn 200ms 200ms 1 forwards; }
        .mastering-block .services-mastering li .service h3 {
          transition: -webkit-transform 200ms;
          transition: transform 200ms;
          transition: transform 200ms, -webkit-transform 200ms;
          position: relative; }
        .mastering-block .services-mastering li .service .price {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          font-size: 16px;
          font-weight: 200;
          color: #888; }
        .mastering-block .services-mastering li .service h3 small {
          display: block;
          padding: 5px 0;
          color: #b3b3b3;
          font-size: 0.7em; }
  .mastering-block .start-signup {
    padding: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0s 400ms, opacity 400ms, -webkit-transform 400ms;
    transition: height 0s 400ms, transform 400ms, opacity 400ms;
    transition: height 0s 400ms, transform 400ms, opacity 400ms, -webkit-transform 400ms; }
  .mastering-block .signup-form {
    padding: 10px 0; }
    .mastering-block .signup-form .exit {
      font-size: 52px;
      color: inherit;
      text-decoration: none; }
    .mastering-block .signup-form .group-headline {
      color: #555;
      font-size: 32px;
      text-transform: uppercase; }
    .mastering-block .signup-form .continue {
      font-size: 32px;
      font-family: "Oswald", serif;
      background: #eee;
      padding: 10px;
      border-radius: 3px;
      border: 0;
      outline: 0;
      color: #9f000f;
      text-transform: uppercase;
      border: 5px solid transparent;
      cursor: pointer; }
      .mastering-block .signup-form .continue:hover, .mastering-block .signup-form .continue:focus {
        color: #86000d;
        background: #fff;
        border: 5px dashed #9f000f; }
    .mastering-block .signup-form label {
      display: block;
      padding: 10px 0 20px 0; }
    .mastering-block .signup-form input, .mastering-block .signup-form textarea {
      display: block;
      margin: 10px auto;
      max-width: 600px;
      padding: 10px;
      font-size: 22px;
      color: #222; }
      .mastering-block .signup-form input:focus, .mastering-block .signup-form textarea:focus {
        outline-color: #9f000f; }
    .mastering-block .signup-form .textarea {
      max-width: 600px;
      width: 80%;
      font-size: 18px;
      padding: 10px;
      min-height: 100px; }

.above-fold {
  min-height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh; }
  .above-fold .play-btn {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 5%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms; }
    .above-fold .play-btn .play-container {
      display: inline-block;
      margin: auto;
      width: 120px; }
      .above-fold .play-btn .play-container:after {
        content: 'Play the Mix';
        transition: color 200ms, -webkit-transform 400ms;
        transition: color 200ms, transform 400ms;
        transition: color 200ms, transform 400ms, -webkit-transform 400ms;
        position: relative;
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        padding: 5px 0;
        color: #888;
        font-family: "Open Sans Condensed"; }
    .above-fold .play-btn .play-container:hover .arrow-right {
      border-left-color: purple;
      -webkit-transform: scale(1.2);
      transform: scale(1.2); }
    .above-fold .play-btn .play-container:hover:after {
      color: #333; }
    .above-fold .play-btn .arrow-right {
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      display: inline-block;
      border-left: 25px solid #434;
      transition: border-color 200ms, -webkit-transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.475);
      transition: border-color 200ms, transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.475);
      transition: border-color 200ms, transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.475), -webkit-transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.475); }

#about-frank {
  padding: 0px 0px 30px 0;
  border-top: 2px solid #9f000f;
  border-bottom: 2px solid #9f000f;
  background: #fff;
  width: 100%;
  margin: auto;
  font-size: 20px;
  font-family: "Cabin", "Yanone Kaffeesatz", serif;
  color: #434;
  color: #545;
  transition: opacity 400ms, -webkit-transform 400ms;
  transition: transform 400ms, opacity 400ms;
  transition: transform 400ms, opacity 400ms, -webkit-transform 400ms;
  position: static;
  -webkit-animation: fadeIn 800ms 1 forwards;
  animation: fadeIn 800ms 1 forwards;
  opacity: 0; }

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  100% {
    opacity: 1; } }
  @media (max-height: 600px) {
    #about-frank .play-btn {
      bottom: auto;
      top: 91%; } }
  @media (max-width: 600px) {
    #about-frank .more-on-frank-btn {
      display: none; } }
  #about-frank.out {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden; }
    #about-frank.out .play-btn {
      width: 0;
      display: none; }
  #about-frank .center-pad {
    padding: 20px 50px;
    max-width: 1500px;
    margin: 0 0 0 auto;
    text-align: center; }
    @media (min-width: 900px) {
      #about-frank .center-pad {
        padding: 20px 100px; } }
    @media (min-width: 1600px) {
      #about-frank .center-pad {
        margin: auto; } }
  #about-frank h1, #about-frank h2, #about-frank h3, #about-frank h4, #about-frank h5, #about-frank h6 {
    font-family: "Oswald", "Cabin";
    font-weight: 600;
    font-size: 2.6rem; }
  #about-frank .headline {
    color: #9f000f;
    color: #213;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 1px #fff; }
    @media (min-width: 700px) {
      #about-frank .headline {
        text-align: left; } }
  #about-frank .frank-img {
    width: 100%;
    max-width: 600px; }
    @media (min-width: 800px) {
      #about-frank .frank-img {
        -webkit-shape-outside: url(/frank.png);
        shape-outside: url(/frank.png);
        -webkit-shape-image-threshold: 0.6;
        shape-image-threshold: 0.6;
        -webkit-shape-margin: 70px;
        shape-margin: 70px;
        float: right;
        width: 70%; } }
  #about-frank p {
    position: relative;
    padding-top: 15px;
    text-align: left; }
  #about-frank .links {
    font-size: 26px; }
    #about-frank .links a {
      color: #9f000f;
      display: block;
      padding: 10px 0 10px 6px;
      text-decoration: none;
      transition: color 300ms; }
      #about-frank .links a:hover {
        color: #111; }

.footer {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #888;
  font-family: "Open Sans Condensed"; }
  @media (max-height: 800px), (max-width: 800px) {
    .footer {
      display: none; } }

.navigation {
  opacity: 0;
  transition: opacity .4s, -webkit-transform .6s;
  transition: opacity .4s, transform .6s;
  transition: opacity .4s, transform .6s, -webkit-transform .6s;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  z-index: 4;
  position: relative; }
  .navigation.aa {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  .navigation .navi-menu {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 10px 0; }
    .navigation .navi-menu .menu-item {
      width: 15%;
      max-width: 80px;
      display: inline-block;
      margin: auto 2%;
      font-family: 'Open Sans Condensed', sans-serif;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 300;
      color: #221;
      font-size: 22px;
      border-bottom: 0;
      transition: color .4s;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .navigation .navi-menu .menu-item:hover, .navigation .navi-menu .menu-item.active {
        color: #9f000f; }

.dim-container {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity .25s;
  bottom: 10%;
  height: 90%;
  height: 100%;
  overflow: hidden;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }
  .dim-container.aa {
    opacity: 1; }
  .dim-container .exit {
    position: absolute;
    display: inline-block;
    width: 80px;
    left: calc(50% - 40px);
    font-size: 16px;
    top: 67.5%;
    z-index: 3;
    line-height: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: opacity .8s;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .dim-container .exit.aa {
      opacity: 0.8;
      transition-delay: 1s;
      pointer-events: auto; }
      @media (max-width: 800px) {
        .dim-container .exit.aa {
          opacity: 0;
          transition-delay: 0s; } }
    .dim-container .exit .times {
      font-size: 22px;
      position: relative; }
    .dim-container .exit.aa:hover {
      opacity: 1; }
      .dim-container .exit.aa:hover + .dim {
        -webkit-transform: rotate(45deg) scale(0.29);
        transform: rotate(45deg) scale(0.29);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .dim-container .dim {
    width: 48vmin;
    height: 48vmin;
    background: #222;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    margin: auto;
    overflow: hidden;
    position: relative;
    transition: -webkit-transform .8s;
    transition: transform .8s;
    transition: transform .8s, -webkit-transform .8s;
    -ms-touch-action: pan-y;
    touch-action: pan-y; }
    .dim-container .dim #frnk-video {
      pointer-events: none; }
    .dim-container .dim #frnk-video, .dim-container .dim #frnk-video-backup {
      -ms-touch-action: pan-y;
      touch-action: pan-y; }
    .dim-container .dim.hovered {
      background: #fff;
      border: 1px solid #848383;
      border: 1px solid #9f000f;
      transition-duration: 280ms;
      overflow: hidden; }
      .dim-container .dim.hovered .logo.aa {
        transition-duration: 300ms;
        transition-delay: 0s;
        opacity: 0; }
      .dim-container .dim.hovered #frnk-video, .dim-container .dim.hovered #frnk-video-backup {
        opacity: 0;
        transition: opacity 200ms; }
      .dim-container .dim.hovered:after {
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background: url(/pictures/Frank07.png) 50% 50% no-repeat;
        background-size: cover;
        content: '';
        text-align: center;
        font-family: "Oswald", serif;
        text-shadow: 1px 1px 0 #ddd;
        font-size: 110px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        overflow: visible;
        z-index: -10; }
    .dim-container .dim.small, .dim-container .dim.small-all {
      -webkit-transform: rotate(45deg) scale(0.23);
      transform: rotate(45deg) scale(0.23);
      cursor: pointer; }
      .dim-container .dim.small:hover, .dim-container .dim.small-all:hover {
        -webkit-transform: rotate(45deg) scale(0.31);
        transform: rotate(45deg) scale(0.31);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .dim-container .dim.small:after, .dim-container .dim.small-all:after {
        content: 'close';
        display: block;
        position: absolute;
        font-size: 11px;
        font-family: 'Open Sans Condensed', sans-serif;
        width: 100%;
        bottom: -10px;
        left: 0;
        text-align: center; }
    @media (min-width: 600px) {
      .dim-container .dim.small {
        -webkit-transform: rotate(45deg) scale(0.45);
        transform: rotate(45deg) scale(0.45); } }
    .dim-container .dim.email-signup {
      -webkit-transform: scale(0.5) translate(0, -150px) rotate(45deg);
      transform: scale(0.5) translate(0, -150px) rotate(45deg);
      cursor: pointer; }
    .dim-container .dim.booking {
      -webkit-transform: scale(2) scale(0.9, 1) rotate(45deg);
      transform: scale(2) scale(0.9, 1) rotate(45deg);
      -webkit-transform: scale(1.9) rotate(0deg);
      transform: scale(1.9) rotate(0deg);
      background: #f7f7f7;
      background: url(/pictures/frnkrok_crowd_cran.png) 50% 0px no-repeat;
      background-size: cover;
      z-index: -1;
      top: 50px; }
      .dim-container .dim.booking:hover, .dim-container .dim.booking.hovered {
        border: none; }
        .dim-container .dim.booking:hover:after, .dim-container .dim.booking.hovered:after {
          content: none; }
      .dim-container .dim.booking video, .dim-container .dim.booking .gif-backup {
        transition: opacity 0s;
        opacity: 0;
        z-index: -2; }
      .dim-container .dim.booking .logo.aa {
        opacity: 0;
        transition-delay: 0s;
        z-index: -10; }
    .dim-container .dim.small-out {
      opacity: 0;
      transition: opacity 1s 200ms, -webkit-transform 600ms;
      transition: transform 600ms, opacity 1s 200ms;
      transition: transform 600ms, opacity 1s 200ms, -webkit-transform 600ms;
      -webkit-transform: scale(0.01) rotate(45deg);
      transform: scale(0.01) rotate(45deg);
      z-index: -1; }
    .dim-container .dim .logo, .dim-container .dim video, .dim-container .dim .gif-backup {
      width: 150%;
      position: absolute;
      top: -25%;
      right: -25%;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      z-index: 1; }
    .dim-container .dim .logo {
      z-index: 2;
      width: 100%;
      right: 0%;
      top: 0%;
      transition: opacity .8s .6s;
      opacity: 0;
      pointer-events: none; }
      .dim-container .dim .logo.aa {
        opacity: 1; }
      .dim-container .dim .logo img {
        width: 93%;
        position: relative;
        right: 2%; }
    .dim-container .dim .gif-backup {
      top: 0;
      display: none; }
      .dim-container .dim .gif-backup img {
        width: 200%; }

.events {
  position: absolute;
  width: 100%;
  opacity: 0;
  margin: 0;
  padding: 0;
  top: 0;
  z-index: 2;
  overflow: hidden;
  transition: opacity 600ms, visibility 0s 600ms;
  pointer-events: none;
  visibility: hidden;
  height: 0; }
  .events .events-container {
    position: relative;
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    display: table;
    height: 100%;
    height: 100vh;
    bottom: 5%;
    font-family: 'Oswald', 'Cabin', sans-serif; }
    .events .events-container .events-center {
      display: table-cell;
      vertical-align: middle;
      padding: 20px;
      text-align: center; }
      .events .events-container .events-center .row-fake {
        width: 95%;
        max-width: 1250px;
        margin: auto; }
      .events .events-container .events-center .headline {
        text-align: left;
        font-family: 'Oswald', sans-serif;
        color: #333; }
        .events .events-container .events-center .headline.mastering-headline {
          color: #999; }
        .events .events-container .events-center .headline:after {
          content: '';
          clear: both;
          position: relative;
          display: block; }
        .events .events-container .events-center .headline .exit {
          display: inline-block;
          float: right;
          color: #888;
          font-size: 2.5em;
          cursor: pointer;
          pointer-events: auto;
          vertical-align: baseline;
          line-height: 0.1; }
          .events .events-container .events-center .headline .exit:hover {
            color: #333; }
      .events .events-container .events-center .events-left {
        margin-right: 5%; }
        .events .events-container .events-center .events-left li:nth-of-type(8) {
          -webkit-transform: translateX(-192px);
          transform: translateX(-192px);
          transition-delay: 720ms; }
        .events .events-container .events-center .events-left li:nth-of-type(7) {
          -webkit-transform: translateX(-168px);
          transform: translateX(-168px);
          transition-delay: 630ms; }
        .events .events-container .events-center .events-left li:nth-of-type(6) {
          -webkit-transform: translateX(-144px);
          transform: translateX(-144px);
          transition-delay: 540ms; }
        .events .events-container .events-center .events-left li:nth-of-type(5) {
          -webkit-transform: translateX(-120px);
          transform: translateX(-120px);
          transition-delay: 450ms; }
        .events .events-container .events-center .events-left li:nth-of-type(4) {
          -webkit-transform: translateX(-96px);
          transform: translateX(-96px);
          transition-delay: 360ms; }
        .events .events-container .events-center .events-left li:nth-of-type(3) {
          -webkit-transform: translateX(-72px);
          transform: translateX(-72px);
          transition-delay: 270ms; }
        .events .events-container .events-center .events-left li:nth-of-type(2) {
          -webkit-transform: translateX(-48px);
          transform: translateX(-48px);
          transition-delay: 180ms; }
        .events .events-container .events-center .events-left li:nth-of-type(1) {
          -webkit-transform: translateX(-24px);
          transform: translateX(-24px);
          transition-delay: 90ms; }
      .events .events-container .events-center .events-right {
        margin-left: 5%; }
        .events .events-container .events-center .events-right li:nth-of-type(8) {
          -webkit-transform: translateX(192px);
          transform: translateX(192px);
          transition-delay: 720ms; }
        .events .events-container .events-center .events-right li:nth-of-type(7) {
          -webkit-transform: translateX(168px);
          transform: translateX(168px);
          transition-delay: 630ms; }
        .events .events-container .events-center .events-right li:nth-of-type(6) {
          -webkit-transform: translateX(144px);
          transform: translateX(144px);
          transition-delay: 540ms; }
        .events .events-container .events-center .events-right li:nth-of-type(5) {
          -webkit-transform: translateX(120px);
          transform: translateX(120px);
          transition-delay: 450ms; }
        .events .events-container .events-center .events-right li:nth-of-type(4) {
          -webkit-transform: translateX(96px);
          transform: translateX(96px);
          transition-delay: 360ms; }
        .events .events-container .events-center .events-right li:nth-of-type(3) {
          -webkit-transform: translateX(72px);
          transform: translateX(72px);
          transition-delay: 270ms; }
        .events .events-container .events-center .events-right li:nth-of-type(2) {
          -webkit-transform: translateX(48px);
          transform: translateX(48px);
          transition-delay: 180ms; }
        .events .events-container .events-center .events-right li:nth-of-type(1) {
          -webkit-transform: translateX(24px);
          transform: translateX(24px);
          transition-delay: 90ms; }
      .events .events-container .events-center .events-left, .events .events-container .events-center .events-right {
        width: 40%;
        display: inline-block; }
      .events .events-container .events-center .events-left .events-list {
        text-align: left; }
        @media (min-width: 600px) {
          .events .events-container .events-center .events-left .events-list {
            text-align: center; } }
      .events .events-container .events-center .events-right .events-list {
        text-align: right; }
        @media (min-width: 600px) {
          .events .events-container .events-center .events-right .events-list {
            text-align: center; } }
      .events .events-container .events-center .events-list {
        list-style: none;
        padding: 0;
        margin: 0; }
        .events .events-container .events-center .events-list li {
          padding: 10px;
          font-size: 14px;
          transition: -webkit-transform .6s;
          transition: transform .6s;
          transition: transform .6s, -webkit-transform .6s;
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.125); }
          .events .events-container .events-center .events-list li .date {
            display: block; }
          .events .events-container .events-center .events-list li strong {
            color: #9f000f;
            display: inline-block;
            padding: 0 2px; }
          .events .events-container .events-center .events-list li .loc {
            color: #555;
            font-size: 12px;
            padding: 0 2px; }
          .events .events-container .events-center .events-list li .venue {
            display: block;
            font-weight: 600;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            padding: 0 2px; }
  .events.aa {
    opacity: 1;
    transition: opacity 600ms 400ms;
    visibility: visible;
    height: auto; }
    .events.aa .events-container .events-center .events-left .events-list li, .events.aa .events-container .events-center .events-right .events-list li {
      -webkit-transform: translateX(0);
      transform: translateX(0); }

#edits-block .events-container .events-center .events-list a {
  text-decoration: none;
  color: inherit;
  pointer-events: auto; }
  #edits-block .events-container .events-center .events-list a:hover, #edits-block .events-container .events-center .events-list a:active {
    transition: color .2s;
    color: #fff; }
    #edits-block .events-container .events-center .events-list a:hover li, #edits-block .events-container .events-center .events-list a:active li {
      transition: background .15s;
      background: #222; }

#evts-block {
  top: 30px; }

#booking-block {
  top: 0;
  height: 100%; }
  #booking-block .client-logos {
    position: relative;
    bottom: 5px;
    width: 100%;
    z-index: 100;
    background: #fff; }
    #booking-block .client-logos .more-on-frank-btn {
      bottom: 200px; }
    @media (max-height: 600px) {
      #booking-block .client-logos {
        bottom: -20px; }
        #booking-block .client-logos .client-list img {
          max-height: 100px; } }
  #booking-block .client-list {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-animation: leftRight 100s infinite linear;
    animation: leftRight 100s infinite linear; }

@-webkit-keyframes leftRight {
  96% {
    -webkit-transform: translateX(-8742px);
    transform: translateX(-8742px); }
  97% {
    opacity: 1; }
  98% {
    -webkit-transform: translateX(-8742px);
    transform: translateX(-8742px);
    opacity: 0; }
  99% {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0; }
  0%, 100% {
    opacity: 1;
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }

@keyframes leftRight {
  96% {
    -webkit-transform: translateX(-8742px);
    transform: translateX(-8742px); }
  97% {
    opacity: 1; }
  98% {
    -webkit-transform: translateX(-8742px);
    transform: translateX(-8742px);
    opacity: 0; }
  99% {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0; }
  0%, 100% {
    opacity: 1;
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }
    #booking-block .client-list li {
      margin: 0;
      padding: 0 15px;
      display: inline-block;
      white-space: nowrap; }
      #booking-block .client-list li img {
        max-height: 150px; }
  #booking-block .events-container {
    position: static; }
  #booking-block .events-left, #booking-block .events-right {
    width: 45%;
    margin: 0;
    text-align: center;
    position: relative;
    pointer-events: auto;
    padding: 10px; }
    @media (max-width: 600px) {
      #booking-block .events-left, #booking-block .events-right {
        width: 65%; } }
    #booking-block .events-left .content, #booking-block .events-right .content {
      opacity: 0;
      transition: opacity 800ms; }
    #booking-block .events-left a, #booking-block .events-right a {
      color: #9f000f;
      font-weight: 100;
      text-decoration: none;
      border-bottom: 1px solid #9f000f; }
    #booking-block .events-left .thin, #booking-block .events-right .thin {
      font-weight: 300;
      color: #555;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      margin: 0;
      line-height: 12px; }
      #booking-block .events-left .thin:last-of-type, #booking-block .events-right .thin:last-of-type {
        margin: 8px 0; }
    #booking-block .events-left .mail-link, #booking-block .events-right .mail-link {
      font-size: 22px;
      margin: 14px 0; }
    #booking-block .events-left .phone-link, #booking-block .events-right .phone-link {
      margin: 14px 0; }
      #booking-block .events-left .phone-link a, #booking-block .events-right .phone-link a {
        text-decoration: none;
        border: 0;
        font-size: 18px; }
      #booking-block .events-left .phone-link.btn a, #booking-block .events-right .phone-link.btn a {
        padding: 4px 6px;
        border-radius: 3px;
        background: #9f000f;
        color: #fff;
        font-size: 14px; }
    #booking-block .events-left .white-tri, #booking-block .events-right .white-tri {
      top: 50%;
      width: 100%;
      min-width: 340px;
      position: absolute;
      display: block;
      -webkit-transform: translateY(-80%) rotate(25deg);
      transform: translateY(-80%) rotate(25deg);
      background: white;
      background: rgba(255, 255, 255, 0.92);
      border: 1px solid #ccc;
      z-index: -1;
      pointer-events: none;
      transition: -webkit-transform 1.2s 200ms;
      transition: transform 1.2s 200ms;
      transition: transform 1.2s 200ms, -webkit-transform 1.2s 200ms;
      visibility: hidden; }
      #booking-block .events-left .white-tri.dark, #booking-block .events-right .white-tri.dark {
        border-color: #a4000f;
        z-index: -2;
        background: transparent;
        -webkit-transform: translateY(0%) rotate(15deg);
        transform: translateY(0%) rotate(15deg);
        background: rgba(255, 255, 255, 0.9); }
        #booking-block .events-left .white-tri.dark:before, #booking-block .events-right .white-tri.dark:before {
          background: transparent; }
      #booking-block .events-left .white-tri:before, #booking-block .events-right .white-tri:before {
        content: "";
        display: block;
        padding-top: 100%;
        background: rgba(255, 255, 255, 0.4); }
  #booking-block.aa {
    padding-bottom: 250px; }
    #booking-block.aa .events-left .content, #booking-block.aa .events-right .content {
      opacity: 1;
      transition-delay: 800ms; }
    #booking-block.aa .events-left .white-tri, #booking-block.aa .events-left .white-tri.dark, #booking-block.aa .events-right .white-tri, #booking-block.aa .events-right .white-tri.dark {
      -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
      transform: translateY(-50%) rotate(45deg) scale(1);
      visibility: visible; }
      @media (min-width: 800px) {
        #booking-block.aa .events-left .white-tri, #booking-block.aa .events-left .white-tri.dark, #booking-block.aa .events-right .white-tri, #booking-block.aa .events-right .white-tri.dark {
          -webkit-transform: translateY(-50%) rotate(45deg) scale(0.6);
          transform: translateY(-50%) rotate(45deg) scale(0.6); } }
    #booking-block.aa .events-left .white-tri.dark, #booking-block.aa .events-right .white-tri.dark {
      -webkit-transform: translateY(-45.5%) rotate(45deg) scale(1);
      transform: translateY(-45.5%) rotate(45deg) scale(1); }
      @media (min-width: 800px) {
        #booking-block.aa .events-left .white-tri.dark, #booking-block.aa .events-right .white-tri.dark {
          -webkit-transform: translateY(-46%) rotate(45deg) scale(0.6);
          transform: translateY(-46%) rotate(45deg) scale(0.6); } }
  #booking-block.out .events-left .content, #booking-block.out .events-right .content {
    transition: opacity 0s; }

#social-block {
  pointer-events: none; }
  #social-block .events-container {
    bottom: 0%; }
    #social-block .events-container .events-center {
      padding: 0; }
  #social-block .wheel {
    -webkit-animation: rotate 220s linear 200;
    animation: rotate 220s linear 200; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(350deg);
    transform: rotate(350deg); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(350deg);
    transform: rotate(350deg); } }
  #social-block .social-list, #social-block .social-list li {
    padding: 0;
    margin: 0;
    list-style: none; }
  #social-block .social-list {
    min-height: 400px;
    position: relative;
    right: 200px;
    text-align: center;
    transition: right 400ms; }
    #social-block .social-list li {
      width: 400px;
      height: 400px;
      display: inline-block;
      position: absolute;
      text-align: center;
      transition: height 400ms, width 400ms;
      pointer-events: none; }
      #social-block .social-list li a {
        color: #111; }
        #social-block .social-list li a:hover {
          color: #111; }
      #social-block .social-list li .social-content {
        pointer-events: auto;
        display: inline-block;
        position: relative;
        z-index: 3;
        transition: -webkit-transform 800ms cubic-bezier(0.175, 0.885, 0.32, 1.125);
        transition: transform 800ms cubic-bezier(0.175, 0.885, 0.32, 1.125);
        transition: transform 800ms cubic-bezier(0.175, 0.885, 0.32, 1.125), -webkit-transform 800ms cubic-bezier(0.175, 0.885, 0.32, 1.125);
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        font-size: 76px; }
        #social-block .social-list li .social-content:hover {
          -webkit-transform: scale(1.5);
          transform: scale(1.5);
          -webkit-filter: grayscale(0);
          filter: grayscale(0); }
    #social-block .social-list img {
      max-width: 82px; }
    #social-block .social-list li:nth-of-type(2) {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    #social-block .social-list li:nth-of-type(3) {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
    #social-block .social-list li:nth-of-type(4) {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg); }
    #social-block .social-list li:nth-of-type(5) {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
    #social-block .social-list li:nth-of-type(6) {
      -webkit-transform: rotate(225deg);
      transform: rotate(225deg); }
    #social-block .social-list li:nth-of-type(7) {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg); }
    #social-block .social-list li:nth-of-type(8) {
      -webkit-transform: rotate(315deg);
      transform: rotate(315deg); }
    @media (min-width: 800px) {
      #social-block .social-list {
        min-height: 78vmin;
        right: 38vmin; }
        #social-block .social-list li {
          width: 76vmin;
          height: 76vmin; } }

#signup-block .events-container .events-center {
  position: relative;
  top: 80px; }
  #signup-block .events-container .events-center .email-box, #signup-block .events-container .events-center .strong {
    position: relative;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    transition: opacity 1s, -webkit-transform .4s .35s;
    transition: transform .4s .35s, opacity 1s;
    transition: transform .4s .35s, opacity 1s, -webkit-transform .4s .35s;
    opacity: 0; }
  #signup-block .events-container .events-center .input-wrap {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center; }
    #signup-block .events-container .events-center .input-wrap:after {
      clear: both;
      content: '';
      display: block; }
  #signup-block .events-container .events-center input.email-box {
    font-size: 16px;
    padding: 4px;
    border: 1px solid #ddd;
    background: #fff;
    outline: none;
    display: inline-block;
    margin: 10px auto;
    z-index: 2;
    pointer-events: auto;
    width: 90%;
    max-width: 350px; }
  #signup-block .events-container .events-center button.email-submit {
    display: inline-block;
    font-size: 16px;
    padding: 4px;
    background: transparent;
    border: 1px solid #ddd;
    color: #666;
    z-index: 2;
    pointer-events: auto;
    outline: none;
    transition: border-color .4s;
    max-width: 20px;
    width: 20px; }
    #signup-block .events-container .events-center button.email-submit:focus {
      border-color: #777; }
  #signup-block .events-container .events-center .strong {
    font-size: 16px;
    font-weight: 800;
    font-family: "Open Sans Condensed", Sans-serif;
    text-transform: uppercase;
    color: #777; }
  #signup-block .events-container .events-center .strong.unsub {
    color: #C41461;
    padding-top: 5px;
    position: relative; }

#signup-block.aa .events-container .events-center .email-box, #signup-block.aa .events-container .events-center .strong {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1; }

#signup-block.aa .events-container .events-center .strong.unsub {
  opacity: 0;
  transition: opacity .3s, -webkit-transform .5s;
  transition: opacity .3s, transform .5s;
  transition: opacity .3s, transform .5s, -webkit-transform .5s;
  -webkit-transform: translateY(6px);
  transform: translateY(6px); }
  #signup-block.aa .events-container .events-center .strong.unsub.show {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }

.tagline-satisfaction {
  box-sizing: border-box;
  font-size: 26px;
  font-family: "Cabin", serif;
  max-width: 500px;
  margin: 40px auto;
  color: #666;
  font-style: italic;
  padding-right: 10px;
  width: 100%; }
  @media (min-width: 600px) {
    .tagline-satisfaction {
      width: 50%; } }

#mastering-block {
  text-align: left;
  top: 20px; }
  @media (min-width: 600px) {
    #mastering-block {
      top: 0; } }
  #mastering-block .events-center {
    text-align: left; }
  #mastering-block .big-btn-right {
    font-size: 18px; }
    @media (min-width: 600px) {
      #mastering-block .big-btn-right {
        display: none; } }
    #mastering-block .big-btn-right a, #mastering-block .big-btn-righta {
      cursor: pointer; }
  #mastering-block .color-alt {
    color: #9f000f; }
  #mastering-block .headline-row {
    padding: 15px 0;
    margin-bottom: 0px; }
  #mastering-block .lead {
    font-family: "Cabin", serif;
    font-size: 18px; }
  #mastering-block .big-btn {
    padding: 10px;
    background: #9f000f;
    color: #fff;
    display: block;
    text-align: center;
    margin-bottom: 12px;
    border-radius: 5px;
    transition: background 400ms;
    text-decoration: none; }
    #mastering-block .big-btn:hover {
      background: #6c000a; }
  #mastering-block .what-we-do-mastering {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
    float: left;
    list-style: none; }
    #mastering-block .what-we-do-mastering ul {
      list-style: none;
      padding: 0;
      margin: 0; }
    #mastering-block .what-we-do-mastering li {
      padding: 5px; }
    @media (min-width: 600px) {
      #mastering-block .what-we-do-mastering {
        width: 50%; } }
  #mastering-block .clear-float {
    clear: both;
    display: block;
    height: 1px; }
  #mastering-block.aa {
    height: auto;
    overflow: visible;
    pointer-events: auto; }

#tracks-block {
  height: 0;
  overflow: hidden;
  top: 30px; }
  #tracks-block .events-center {
    padding: 0; }
  #tracks-block .album-container .row {
    width: 100%;
    max-width: 1250px;
    margin: auto;
    pointer-events: auto; }
    #tracks-block .album-container .row .container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    #tracks-block .album-container .row .col-3 {
      width: 25vmin;
      height: 25vmin;
      position: relative;
      box-sizing: border-box;
      margin: 1vmin;
      background-size: cover;
      transition: background 0.2s, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.125);
      transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.125), background 0.2s;
      transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.125), background 0.2s, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.125);
      border: 1px solid transparent; }
      #tracks-block .album-container .row .col-3 .album-cvr {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        transition: -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.25);
        transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.25);
        transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.25), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.25); }
      #tracks-block .album-container .row .col-3:hover {
        background: #fff;
        border: 1px solid #e0e0e0;
        -webkit-transform: scale(1) rotate(45deg);
        transform: scale(1) rotate(45deg);
        z-index: 2; }
        #tracks-block .album-container .row .col-3:hover .album-cvr {
          -webkit-transform: rotate(-45deg) scale(0.68);
          transform: rotate(-45deg) scale(0.68);
          box-shadow: 0 1px 4px rgba(3, 3, 3, 0.2); }
      #tracks-block .album-container .row .col-3:active, #tracks-block .album-container .row .col-3:focus {
        background: #9f000f; }
  #tracks-block.aa {
    height: auto;
    overflow: visible; }
