@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('icons/MonoSocialIconsFont-1.10.eot');
    src: url('icons/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('icons/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('icons/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('icons/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('icons/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}
.symbol.yt:hover{
  color: #c4302b;
}
.symbol.fb:hover{
  color: #3b5998;
}
.symbol.sc:hover{
  color: #ff3300;
}
.symbol.li:hover{
  color: #0077b5;
}
.symbol.tw:hover{
  color: #55acee;
}
.symbol.ig:hover{
  color: #3f729b;
}

$color-alt: #9f000f; //#cc5168 // #243c4d ##3c2844


body{
  background: #fff;
  margin: 0;
  padding: 0;
  &.dark{
    background: #181818;
    .navigation .navi-menu .menu-item {
      color: #848383;
    }
  }
}
.social-icons{
  position: absolute;
  z-index: 2;
  font-size: 42px;
  transition: opacity 300ms;

  padding: 0;
  bottom: -55px;
  left: 0;
  width: 100%;
  text-align: center;



  @media (min-width: 600px) {
    padding: 5px 20px 5px 15px;
    right: 5px;
    bottom: 5px;
    left: auto;
    text-align: right;
  }
  @media (max-height: 700px) and (max-width: 600px) {
    bottom: -140px;
  }
  a{
    color: inherit;
    text-decoration: none;
    position: relative;
    right: 10px;
  }
  &.hide{
    opacity: 0;
  }
}
.more-on-frank-btn{
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 2;
  padding: 5px 20px 5px 15px;
  // border: 1px solid #222;
  // width: 200px;
  font-family: Oswald, "Open Sans Condensed", "Oswald";
  font-weight: 400;
  text-transform: uppercase;
  transition: opacity 300ms;
  color: #434;
  font-size: 26px;
  cursor: pointer;
  @media (max-height: 450px) {
    opacity: 0;
  }
  @media (max-height: 550px) {
    // bottom: -65px;
  }
  &.hide{
    opacity: 0;
  }

  .arrow-down{
    .arrow{
      display: inline-block;
      padding: 0 4px 0 0;
      // font-size: 1.25rem;
      animation: bounceDown 690ms infinite alternate;
      font-family: "Oswald";
      @keyframes bounceDown{
        0% {
          transform: translateY(-4px);
        }
        100%{
          transform: translateY(4px);
        }
      }
    }
  }
}
.headline.start{
  line-height: 72px;
  font-size: 72px;
  padding: 0;
  color: #999;
  margin: 20px auto 0 auto;

  @media (min-width: 600px){
    font-size: 100px;
    line-height: 100px;

  }
  .color-alt{
    color: $color-alt;
  }
}
.mastering-block{
  text-align: center;
  font-size: 22px;
  opacity: 0;
  transform: scale(2);
  transition: opacity 800ms, transform 600ms cubic-bezier(0.175, 0.885, 0.22, 1.175);
  font-family: "Cabin", "Yanone Kaffeesatz", serif;

  &.activate-form{
    .start-signup{
      height: auto;
      transition: height 0s, transform 400ms, opacity 400ms;
      opacity: 1;

    }
  }

  &.aa{
    opacity: 1;
    transform: scale(1);
  }
  h1,h2,h3,h4,h5,h6{
    font-family: "Oswald", serif;
  }
  .logo{
    margin: 20px auto;
    max-width:200px;
  }
  .headline.about{
    color: #666;
    padding: 0px 0 50px 0;
  }
  .pay-action{
    text-align: center;
    table{
      margin:auto;
    }
  }
  .pay-divide{
    margin: 20px auto;
    width: 50%;
    background: $color-alt;
    outline: 0;
    border: 0;
    height: 2px;
  }
  div.errors{
    margin: 50px auto;
    padding: 20px;
    width: 90%;
    background: lighten($color-alt, 30%);
    transition: transform 400ms, opacity 400ms, height 0ms;
    opacity: 1;
    &.hide{
      transition: transform 400ms, opacity 400ms, height 0s 400ms;
      opacity: 0;
      height: 0;
      overflow: hidden;
      padding: 0;
      margin: 0;
    }
    h1,h2,h3,h4,h5,h6{
      margin: 0;
      padding: 10px 0;
    }
  }

  .what-mastered-block{
    transition: transform 400ms, opacity 400ms, height 0ms;
    opacity: 1;
    &.hide{
      transition: transform 400ms, opacity 400ms, height 0s 400ms;
      opacity: 0;
      height: 0;
      overflow: hidden;
    }
  }
  .services-mastering{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li{
      box-sizing: border-box;
      margin: 0;
      padding: 10px;
      display: inline-block;
      .service{
        position: relative;
        display: block;
        text-decoration: none;
        color: inherit;
        padding: 30px 60px;
        position: relative;
        background: $color-alt;
        border-radius: 3px;
        color: #fff;
        font-family: "Oswald", serif;
        transition: transform 200ms;
        border: 5px solid transparent;
        &:hover{
          background: darken($color-alt, 10%);
          transform: scale(1.15);
          border-color: #222;
          h3{
            transform: translateY(-14px);
          }
          &:after{
            content: 'start';
            display: block;
            position: absolute;
            color: lighten($color-alt, 30%);
            bottom: 40px;
            left: 0;
            font-size: 16px;
            text-transform: uppercase;
            width: 100%;
            text-align: center;
            animation: fadeIn 200ms 200ms 1 forwards;
          }
        }
        h3{
          transition: transform 200ms;
          position: relative;

        }
        .price{
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          font-size: 16px;
          font-weight: 200;
          color: #888;
        }
        h3 small{
          display: block;
          padding: 5px 0;
          color: lighten(#999,10%);
          font-size: 0.7em;

        }
      }
    }
  }
  .start-signup{
    padding: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0s 400ms, transform 400ms, opacity 400ms;
  }
  .signup-form{
    padding: 10px 0;
    .exit{
      font-size: 52px;
      color: inherit;
      text-decoration: none;
    }
    .group-headline{
      color: #555;
      font-size: 32px;
      text-transform: uppercase;;
    }
    .continue{
      // display: inline-block;
      font-size: 32px;
      font-family: "Oswald", serif;
      background: #eee;
      padding: 10px;
      border-radius: 3px;
      border: 0;
      outline: 0;
      color: $color-alt;
      text-transform: uppercase;
      border: 5px solid transparent;
      cursor: pointer;

      &:hover, &:focus{
        color: darken($color-alt, 5%);
        background: #fff;
        border: 5px dashed $color-alt;
      }
    }
    label{
      display: block;
      padding: 10px 0 20px 0;
    }
    input, textarea{
      display: block;
      margin: 10px auto;
      max-width: 600px;
      padding: 10px;
      font-size: 22px;
      color: #222;
      &:focus{
        outline-color: $color-alt;
      }
    }
    .textarea{
      max-width: 600px;
      width: 80%;
      font-size: 18px;
      padding: 10px;
      min-height: 100px;
    }
  }
}
.above-fold{
  min-height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;



  .play-btn{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 5%;
    text-align: center;
    display: inline-block;

    // display: none;
    cursor: pointer;
    // max-width: 100vw;
    transition: transform 400ms;

    .play-container{
      display: inline-block;
      margin: auto;
      width: 120px;
      // padding: 50px;
      &:after{
        content: 'Play the Mix';
        transition: color 200ms, transform 400ms;
        position: relative;
        display: block;
        font-size: 14px;
        text-transform: uppercase;;
        padding: 5px 0;
        color: #888;
        font-family:  "Open Sans Condensed";
        // font-weight: 100;
      }
    }

    .play-container:hover{
      // transform: scale(1.2);
      .arrow-right{
        border-left-color: purple;
        transform: scale(1.2);
      }
      &:after{
        color: #333;
        // transform: scale(0.8);

      }
    }


    .arrow-right {
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      display: inline-block;
      border-left: 25px solid #434;
      transition: border-color 200ms, transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.475);
    }

  }
}
#about-frank{
  padding: 0px 0px 30px 0;
  border-top: 2px solid $color-alt;
  border-bottom: 2px solid $color-alt;
  background: #fff;
  width: 100%;
  margin: auto;
  // max-width: 1200px;
  font-size: 20px;
  font-family: "Cabin", "Yanone Kaffeesatz", serif;
  color: #434;
  color: #545;
  transition: transform 400ms, opacity 400ms;
  position: static;
  animation: fadeIn 800ms 1 forwards;
  opacity: 0;

  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }

  @media (max-height: 600px) {
    .play-btn {
      bottom: auto;
      top: 91%;
    }
  }
  @media (max-width: 600px) {
    .more-on-frank-btn {
      display: none;
    }
  }

  // background: #f2f2f2;
  // background: rgba(242,242,242,1);
  // background: -moz-linear-gradient(-45deg, rgba(242,242,242,1) 0%, rgba(238,238,238,1) 52%, rgba(254,254,254,1) 100%);
  // background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242,242,242,1)), color-stop(52%, rgba(238,238,238,1)), color-stop(100%, rgba(254,254,254,1)));
  // background: -webkit-linear-gradient(-45deg, rgba(242,242,242,1) 0%, rgba(238,238,238,1) 52%, rgba(254,254,254,1) 100%);
  // background: -o-linear-gradient(-45deg, rgba(242,242,242,1) 0%, rgba(238,238,238,1) 52%, rgba(254,254,254,1) 100%);
  // background: -ms-linear-gradient(-45deg, rgba(242,242,242,1) 0%, rgba(238,238,238,1) 52%, rgba(254,254,254,1) 100%);
  // background: linear-gradient(135deg, rgba(242,242,242,1) 0%, rgba(238,238,238,1) 52%, rgba(254,254,254,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#fefefe', GradientType=1 );

  &.out {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;

    .play-btn{
      width: 0;
      display: none;

    }
  }

  .center-pad{
    padding: 20px 50px;
    max-width: 1500px;
    margin: 0 0 0 auto;
    text-align: center;
    @media (min-width: 900px) {
      padding: 20px 100px;
    }
    @media (min-width: 1600px) {
      margin: auto;
    }
  }

  h1,h2,h3,h4,h5,h6{
    font-family: "Oswald", "Cabin";
    font-weight: 600;
    font-size: 2.6rem;
  }
  .headline{
    color: $color-alt;
    color: #213;
    text-transform: uppercase;;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
    @media (min-width: 700px) {
      text-align: left;
    }
  }
  .frank-img{
    width: 100%;
    max-width: 600px;
    @media (min-width: 800px) {
      shape-outside: url(/frank.png);
      shape-image-threshold: 0.6;
      shape-margin: 70px;
      float: right;
      width: 70%;
    }

  }
  p{
    position: relative;
    padding-top: 15px;
    text-align: left;
  }
  .links{
    font-size: 26px;
    a{
      color: $color-alt;
      display: block;
      padding: 10px 0 10px 6px;
      text-decoration: none;
      transition: color 300ms;
      &:hover{
        color: #111;
      }
    }
  }
}
.footer{
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #888;
  font-family: "Open Sans Condensed";
  // clear: both;
  @media (max-height: 800px), (max-width: 800px){
    display: none;
  }
}
.navigation {
  // position: absolute;
  // width: 100%;
  opacity: 0;
  transition: opacity .4s, transform .6s;
  transform: translateY(-30px);
  z-index: 4;
  position: relative;

  &.aa{
    opacity: 1;
    transform: translateY(0);
  }

  .navi-menu{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    .menu-item{
      width: 15%;
      max-width: 80px;
      display: inline-block;
      margin: auto 2%;
      font-family: 'Open Sans Condensed', sans-serif;
      cursor: pointer;

      // font-family: 'Yanone Kaffeesatz', sans-serif;
      // font-family: 'Cabin', sans-serif;
      // font-family: 'Oswald', sans-serif;


      // -webkit-font-smoothing: antialiased;
      // -moz-osx-font-smoothing: grayscale;
      // text-transform: lowercase;
      text-transform: uppercase;
      font-weight: 300;
      color: #221;
      font-size: 22px;
      border-bottom: 0;
      transition: color .4s;

       -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover, &.active{
        color: $color-alt;
        // font-size: 13px;
        // font-family: 'Rock Salt', Oswald;
      }

    }
  }
}
.dim-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity .25s;
  bottom: 10%;
  height: 90%;
  height: 100%;
  overflow: hidden;
  touch-action: pan-y;
  // max-height: 90vmin;

  &.aa{
    opacity: 1;
  }

  .exit{
    position: absolute;
    display: inline-block;
    width: 80px;
    left: calc(50% - 40px);
    font-size: 16px;
    top: 67.5%;
    z-index: 3;
    line-height: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: opacity .8s;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    &.aa{
      opacity: 0.8;
      transition-delay: 1s;
      pointer-events: auto;

      @media (max-width:800px) {
        opacity: 0;
        transition-delay: 0s;
      }
    }

    .times{
      font-size: 22px;
      position: relative;
      // bottom: 5px;
    }

    &.aa:hover{
      opacity: 1;
      &+.dim{
        transform: rotate(45deg) scale(0.29);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
    }
  }

  .dim{
    width: 48vmin;
    height: 48vmin;
    background: #222;
    transform: rotate(45deg);
    display: block;
    margin: auto;
    overflow: hidden;
    position: relative;
    transition: transform .8s;
    touch-action: pan-y;

    #frnk-video{
      pointer-events: none;
    }
    #frnk-video, #frnk-video-backup{
      touch-action: pan-y;

      // touch-action: manipulation;
    }


    &.hovered{
      background: #fff;

      // background: #f7f7f7;
      border: 1px solid #848383;
      border: 1px solid $color-alt;
      // transform:  rotate(135deg);
      transition-duration: 280ms;
      overflow: hidden;
      .logo.aa{
        transition-duration: 300ms;
        transition-delay: 0s;
        opacity: 0;
      }
      #frnk-video,#frnk-video-backup{
        opacity: 0;
        transition: opacity 200ms;
      }
      &:after{
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(-45deg);
        background: url(/pictures/Frank07.png) 50% 50% no-repeat;
        background-size: cover;
        // content: 'FRNKROK';
        content: '';
        text-align: center;
        font-family: "Oswald", serif;
        // color: #eee;
        text-shadow: 1px 1px 0 #ddd;
        font-size: 110px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        overflow: visible;
        z-index: -10;
        // padding-left: 250px;

      }
    }

    // &.shift-left{
    //   transform: rotate(30deg);
    //   .logo,video{
    //     transform: rotate(-30deg);
    //     transition-duration: 800ms;

    //   }
    //   video{
    //     opacity: 0.4;
    //   }
    // }

    &.small, &.small-all{
      transform: rotate(45deg) scale(0.23);
      cursor: pointer;

      &:hover{
        transform: rotate(45deg) scale(0.31);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      &:after{
        content: 'close';
        display: block;
        position: absolute;
        font-size: 11px;
        font-family: 'Open Sans Condensed', sans-serif;
        width: 100%;
        bottom: -10px;
        left: 0;
        text-align: center;
      }
    }

    &.small{
      @media (min-width: 600px) {
        transform: rotate(45deg) scale(0.45);
      }
    }

    &.email-signup{
      transform: scale(0.5) translate(0, -150px) rotate(45deg);
      cursor: pointer;

    }

    &.booking{
      transform: scale(2) scale(0.9, 1) rotate(45deg);
      transform: scale(1.9) rotate(0deg);
      background: #f7f7f7;
      background: url(/pictures/frnkrok_crowd_cran.png) 50% 0px no-repeat;
      background-size:cover;
      z-index: -1;
      top: 50px;

      &:hover,&.hovered{
        border: none;
        &:after{
          content: none;
        }
      }


      video,.gif-backup{
        transition: opacity 0s;
        opacity: 0;
        z-index: -2;
      }
      .logo.aa{
        opacity: 0;
        transition-delay: 0s;
        z-index: -10;
      }

    }
    &.small-out{
      opacity: 0;
      transition: transform 600ms, opacity 1s 200ms;
      transform: scale(0.01) rotate(45deg);

      z-index: -1;
    }

    .logo,video,.gif-backup{
      width: 150%;
      position: absolute;
      top: -25%;
      right: -25%;
      transform: rotate(-45deg);
      z-index: 1;
    }
    .logo{
      z-index: 2;
      width: 100%;
      right: 0%;
      top: 0%;
      transition: opacity .8s .6s;
      opacity: 0;
      pointer-events: none;

      &.aa{
        opacity: 1;
      }

      img{
        width: 93%;
        position: relative;
        right: 2%;
      }
    }
    .gif-backup {
      top: 0;
      // right: 0;
      display: none;

      img{
        width: 200%;
      }
    }

  }
}
.events{
  position: absolute;
  width: 100%;
  opacity: 0;
  margin: 0;
  padding: 0;
  top: 0;
  z-index: 2;
  overflow: hidden;
  transition: opacity 600ms, visibility 0s 600ms;
  pointer-events: none;
  visibility: hidden;
  height: 0;

  .events-container{
    position: relative;
    width:100%;
    // max-width: 1200px;
    // margin: auto;
    padding: 0px;
    min-height: 100vh;
    display: table;
    height: 100%;
    height: 100vh;
    bottom: 5%;
    font-family: 'Oswald', 'Cabin', sans-serif;

    .events-center{
      display: table-cell;
      vertical-align: middle;
      padding: 20px;
      text-align: center;

      .row-fake{
        width: 95%;
        max-width: 1250px;
        margin: auto;
      }
      .headline{
        text-align: left;
        font-family: 'Oswald', sans-serif;
        color: #333;
        &.mastering-headline{
          color: #999;
        }
        &:after{
          content:'';
          clear: both;
          position: relative;
          display: block;
        }
        .exit{
          display: inline-block;
          float: right;
          color: #888;
          font-size: 2.5em;
          cursor: pointer;
          pointer-events: auto;
          vertical-align: baseline;
          line-height: 0.1;
          // z-index: 10;

          &:hover{
            color: #333;
          }
        }
      }

      .events-left {
        margin-right: 5%;
        $i: 8;
        @while $i > 0 {

          li:nth-of-type(#{$i}) {
            transform: translateX(-24px * $i);
            transition-delay: 90ms * $i;
          }

          $i: $i - 1;
        }

      }
      .events-right {
        margin-left: 5%;
        $i: 8;
        @while $i > 0 {

          li:nth-of-type(#{$i}) {
            transform: translateX(24px * $i);
            transition-delay: 90ms * $i;
          }

          $i: $i - 1;
        }
      }
      .events-left, .events-right{
        width: 40%;
        // margin: 2.5%;
        display: inline-block;
      }
      .events-left .events-list{
        text-align: left;
        @media (min-width: 600px) {
          text-align: center;
        }
      }
      .events-right .events-list{
        text-align: right;
        @media (min-width: 600px) {
          text-align: center;
        }
      }
      .events-list{
        list-style: none;
        padding: 0; margin: 0;
        li{
          padding: 10px;
          font-size: 14px;
          transition: transform .6s;
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.125);
          .date{
            display: block;
          }
          strong{
            color: $color-alt;
            display: inline-block;
            padding: 0 2px;
          }
          .loc{
            color: #555;
            // font-family: 'Opens Sans Condensed', sans-serif;
            font-size: 12px;
            padding: 0 2px;

          }
          .venue{
            display: block;
            font-weight: 600;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            padding: 0 2px;

          }
        }
      }
    }
  }

  &.aa{
    opacity: 1;
    transition: opacity 600ms 400ms;
    visibility: visible;
    height: auto;
    // background: #fff;

    // min-height: 800px;
    .events-container{
       .events-center{
        .events-left, .events-right{
          .events-list{
            li {
              transform: translateX(0);
            }
          }
        }
       }
    }
  }
}
#edits-block{

   .events-container .events-center .events-list a{
      text-decoration: none;
      color: inherit;
      pointer-events: auto;
      &:hover,&:active{
        transition: color .2s;
        color: #fff;
        li {
          transition: background .15s;
          background: #222;
        }
      }
   }
}
#evts-block{
  top: 30px;
}
#booking-block{
  top: 0;
  height: 100%;
  .client-logos{
    .more-on-frank-btn{
      bottom: 200px;
    }
    position: relative;
    bottom: 5px;
    // overflow: hidden;
    width: 100%;
    z-index: 100;
    background: #fff;
    @media (max-height: 600px) {
      bottom: -20px;
      .client-list img{
        max-height: 100px;
      }
    }
  }
  .client-list{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    animation: leftRight 100s infinite linear;

    @keyframes leftRight{
      96%{
        transform: translateX(-8742px);
      }
      97%{
        opacity: 1;
      }
      98%{
        transform: translateX(-8742px);
        opacity: 0;
      }
      99%{
        transform: translateX(100vw);
        opacity: 0;
      }
      0%,100%{
        opacity: 1;
        transform: translateX(100vw);

      }

    }
    li {
      margin: 0;
      padding: 0 15px;
      display: inline-block;
      white-space: nowrap;

      img{
        max-height: 150px;
      }
    }
  }
  .events-container{
    position: static;
  }
  .events-left, .events-right{
    width: 45%;
    margin: 0;
    text-align: center;
    position: relative;
    pointer-events: auto;
    padding: 10px;

    @media (max-width: 600px) {

        width: 65%;

    }

    .content{
      opacity: 0;
      transition: opacity 800ms;
    }
    // background: #222;
    // height: 100%;

    a{
      color: $color-alt;
      font-weight: 100;
      text-decoration: none;
      border-bottom: 1px solid $color-alt;
    }

    .thin {
      font-weight: 300;
      color: #555;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      margin: 0;
      line-height: 12px;
      &:last-of-type{
        margin: 8px 0;
      }
    }

    .mail-link {
      font-size: 22px;
      margin: 14px 0;
    }
    .phone-link {
      a{
        text-decoration: none;
        border: 0;
        font-size: 18px;
      }
      &.btn{

        a{
          padding: 4px 6px;
          border-radius: 3px;
          background: $color-alt;
          color: #fff;
          font-size: 14px;
        }
      }
      margin: 14px 0;
    }

    .white-tri{
      top: 50%;
      width: 100%;
      min-width: 340px;
      // max-width: 400px;
      position: absolute;
      display: block;
      transform:  translateY(-80%) rotate(25deg);
      background: rgba(255,255,255,1);
      background: rgba(255,255,255,0.92);

      border: 1px solid #ccc;
      z-index: -1;
      pointer-events: none;
      transition: transform 1.2s 200ms;
      visibility: hidden;


      &.dark{
        border-color: lighten($color-alt,1%);
        // border-color: #ddd;
        z-index: -2;
        background: transparent;
        transform:  translateY(0%) rotate(15deg);
        background: rgba(255,255,255,0.9);

        &:before{
          background: transparent;

        }
      }
      &:before{
        content: "";
        display: block;
        padding-top: 100%;
        background: rgba(255,255,255,0.4);
      }
    }
  }
  &.aa{
    // overflow: hidden;
    padding-bottom: 250px;
    .events-left,.events-right{
      .content{
        opacity: 1;
        transition-delay: 800ms;
      }
      .white-tri, .white-tri.dark{
        transform:  translateY(-50%) rotate(45deg) scale(1);
        visibility: visible;
        @media (min-width: 800px) {
          transform:  translateY(-50%) rotate(45deg) scale(0.6);
        }
      }
      .white-tri.dark{
        transform:  translateY(-45.5%) rotate(45deg) scale(1);
        @media (min-width: 800px) {
          transform:  translateY(-46%) rotate(45deg) scale(0.6);
        }
      }
    }
  }
  &.out{
    .events-left .content,.events-right .content{
      transition: opacity 0s;
    }
  }
}
#social-block{
  pointer-events: none;


  .events-container{
    bottom: 0%;
    .events-center{
      padding: 0;
    }
  }
  .wheel{
    animation: rotate 220s linear 200;
    @keyframes rotate {
      100% {
        transform: rotate(350deg);
      }
    }
  }
  .social-list, .social-list li{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .social-list{

    min-height: 400px;
    position: relative;
    right: 200px;
    text-align: center;
    transition: right 400ms;


    li{
      width: 400px;
      height: 400px;
      display: inline-block;
      position: absolute;
      text-align: center;
      transition: height 400ms, width 400ms;
      pointer-events: none;

      a{
        color: #111;
        &:hover{
          color: #111;
        }
      }


      .social-content{
        pointer-events: auto;
        display: inline-block;
        position: relative;
        z-index: 3;
        transition: transform 800ms cubic-bezier(0.175, 0.885, 0.32, 1.125);
        filter: grayscale(1);
        font-size: 76px;


        &:hover{
          transform: scale(1.5);
          filter: grayscale(0);
        }
      }

    }
    img{
       max-width: 82px;
    }
    li:nth-of-type(2){
      transform: rotate(45deg);
    }
    li:nth-of-type(3){
      transform: rotate(90deg);
    }
    li:nth-of-type(4){
      transform: rotate(135deg);
    }
    li:nth-of-type(5){
      transform: rotate(180deg);
    }
    li:nth-of-type(6){
      transform: rotate(225deg);
    }
    li:nth-of-type(7){
      transform: rotate(270deg);
    }
    li:nth-of-type(8){
      transform: rotate(315deg);
    }



    @media (min-width: 800px) {
      min-height: 78vmin;
      right: 38vmin;
      li{
        width: 76vmin;
        height: 76vmin;
      }
    }
    // @media (max-height: 650px) {
    //   min-height: 400px;
    //   right: 200px;
    //   li{
    //     width: 400px;
    //     height: 400px;
    //   }

    // }
  }

  &.aa{
    // height: 100%;
  }

}
#signup-block{
 .events-container{
    .events-center{
      position: relative;
      top: 80px;
      .email-box,.strong{
        position: relative;
        transform: translateY(15px);
        transition: transform .4s .35s, opacity 1s;
        opacity: 0;
      }
      .input-wrap{
        position: relative;
        width: 100%;
        max-width: 400px;
        margin: auto;
        text-align: center;
        &:after{
          clear:both;
          content: '';
          display: block;
        }
      }
      input.email-box {
        font-size: 16px;
        padding: 4px;
        border: 1px solid #ddd;
        background: #fff;
        outline: none;
        display: inline-block;
        margin: 10px auto;
        z-index: 2;
        pointer-events: auto;
        width: 90%;
        max-width: 350px;
      }
      button.email-submit{
        display: inline-block;
        font-size: 16px;
        padding: 4px;
        background: transparent;
        border: 1px solid #ddd;
        color: #666;
        z-index: 2;
        pointer-events: auto;
        outline: none;
        transition: border-color .4s;
        max-width: 20px;
        width: 20px;

        &:focus{
          border-color: #777;
        }
      }
      .strong{
        font-size: 16px;
        font-weight: 800;
        font-family: "Open Sans Condensed", Sans-serif;
        text-transform: uppercase;
        color: #777;
      }
      .strong.unsub{
        color: #C41461;
        padding-top: 5px;

        position: relative;



      }
    }
  }
  &.aa{
    .events-container .events-center {
      .email-box, .strong{
        transform: translateY(0);
        opacity: 1;
      }
      .strong.unsub{
        opacity: 0;
        transition: opacity .3s, transform .5s;
        transform: translateY(6px);
        &.show{
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
.tagline-satisfaction{
  box-sizing: border-box;;

  font-size: 26px;
  font-family: "Cabin", serif;
  max-width: 500px;
  margin: 40px auto;
  color: #666;
  font-style: italic;
  padding-right: 10px;
  width: 100%;
  @media (min-width: 600px) {
    width: 50%;
  }
}
#mastering-block{
  text-align: left;
  top: 20px;
  @media (min-width: 600px) {
    top: 0;
  }
  .events-center{
    text-align: left;
  }
  .big-btn-right{
    font-size: 18px;
    @media (min-width: 600px){
      display: none;
    }
    a,&a{
      cursor: pointer;
    }
  }
  .color-alt{
    color: $color-alt;
  }
  .headline-row{
    padding: 15px 0;
    margin-bottom: 0px;
  }
  .lead{
    font-family: "Cabin", serif;
    font-size: 18px;
  }

  .big-btn{
    padding: 10px;
    background: $color-alt;
    color: #fff;
    display: block;
    text-align: center;
    margin-bottom: 12px;
    border-radius: 5px;
    transition: background 400ms;
    text-decoration: none;
    &:hover{
      background: darken($color-alt, 10%);
    }
  }
  .what-we-do-mastering{

    // max-width: 400px;
    width: 100%;
    box-sizing: border-box;;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
    float: left;
    list-style: none;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li{
      padding: 5px;

    }
    @media (min-width: 600px) {
      width: 50%;
    }
  }
  .clear-float{
    clear:both;
    display: block;
    height: 1px;
  }
  &.aa{
    height: auto;
    overflow: visible;
    pointer-events: auto;
  }
}
#tracks-block{
  height: 0;
  overflow: hidden;
  top: 30px;
  .events-center{
    padding:0;

  }
  .album-container{
    .row{

      width: 100%;
      max-width: 1250px;
      margin: auto;
      pointer-events: auto;

      .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      .col-3{
        width: 25vmin;
        height: 25vmin;
        position: relative;
        box-sizing: border-box;
        margin: 1vmin;
        background-size: cover;
        transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.125), background .2s;
        border: 1px solid transparent;

        .album-cvr{
          position: absolute;
          width: 100%;
          height: 100%;
          background-size: cover;
          transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.25);

        }

        &:hover{
          background: #fff;
          border: 1px solid #e0e0e0;
          transform: scale(1) rotate(45deg);
          z-index: 2;
          .album-cvr{
            transform: rotate(-45deg) scale(0.68);
            box-shadow: 0 1px 4px rgba(3,3,3,0.2);
          }
        }
        &:active,&:focus{
          background: $color-alt;
        }
      }
    }

  }
  &.aa{
    height: auto;
    overflow: visible;
  }
}
